<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>${title} | TheUnifiedTech</title>
</head>
<body>
    <header>
        <a href="/" class="logo">TheUnifiedTech</p>
        <nav>
            <ul class="navlinks">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Get Involved</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Contact</button></a>
    </header>
    <div class="content">
        <h1 class="title">${title}</h1>
        <a href="/people/${author}" class="title"><h2 class="title">${author}</h2></a>
        <br>
        <hr>
        ${body}
    </div>
</body>
</html>