@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
}

strong {
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.title a {
    /* padding-left: 1rem; */
    font-size: 1.5rem;
    display: block;
    padding: 0.5rem;
}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.links li {
    list-style: none;
}

.links li a, .title a {
    text-decoration: none;
    color: white;
}

.links li a {
    display: block;
    padding: 1rem;
}

.links li a:hover, .title a:hover {
    background-color: #555;
}


/* BODY */

hr {
    height: 5px;
    background-color: hsl(0, 0%, 27%);
    color: rgb(0, 0%, 27%);
}

.article-title, .content, hr {
    margin: 2rem;
}

.article-title {
    /* margin: 2rem; */
    margin-top: 3rem;
    line-height: 0.5rem;
}

.article-title > h1 {
    /* margin-top: 2.5rem; */
    font-size: 3rem;
}

.article-title > h2 {
    font-size: 1.5rem;
}

.content {
    text-align: center;
}