@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*:not(p:not(logo), .content, h1, h2, h3, h4, h5, h6, button) {
    background-color: #24252A;
}

li, a, button, .logo, .content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.content {
    padding: 0 5%;
    margin: 0 5%;
}

p:not(.logo), .content, h1, h2, h3, h4, h5, h6 {
    background-color: #1f1f22;
}

.content {
    border-style: solid;
    border-radius: 12px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}